body {
  margin: 0;
  background-color: #121212;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

h2, h3 {
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}
.navbar-dark .navbar-brand {
  color: #ffffff;
}
